ion-img {
    --border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    margin-bottom: 5px;
    overflow: hidden;
}

div {
    margin: 2%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    box-shadow: 5px 5px 10px grey;
    padding-bottom: 5px;
    align-items: center;
}

div:hover{
    background: #ebf21b54;
}

ion-spinner{
    --padding: 20px;
    padding: 20px;
    margin: auto;
}

.tag{
    margin: 0 4px;
    font-size: small;
    padding: 3px 4px;
}