.custom-center-button {
    margin-bottom: 20px;
}

ion-fab-list{
    background-color: aquamarine;
    border-radius: 30px;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Space between pill and main button */
}

ion-fab-list ion-fab-button {
  --width: 45px;
  --height: 45px;
  margin: 5px 0;
  --background: transparent;
  --box-shadow: none;
}