<ion-tabs>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" class="custom-center-button">
    <ion-fab-button>
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="end">
      <ion-fab-button (click)="takeNewPhoto()">
        <ion-icon name="camera-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="/tabs/upload">
        <ion-icon name="push-outline" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gallery" href="/tabs/gallery">
      <ion-icon aria-hidden="true" name="image"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="private" href="/tabs/private">
      <ion-icon aria-hidden="true" name="folder"></ion-icon>
      <ion-label>Privat</ion-label>
    </ion-tab-button>


    <ion-tab-button></ion-tab-button> <!--empty button zur Anpassung des Layouts-->

    <ion-tab-button tab="shared" href="/tabs/shared">
      <ion-icon aria-hidden="true" name="share-social"></ion-icon>
      <ion-label>Geteilt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Suche</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
