@import 'src/global.scss';

div{
    display: inline-flex;
    margin: 5px;
    background-color: $primary;
    border-radius: 12px;
    padding: 4px 5px;
}

button{
    background: none;
    border: none;
    color: $contrast;
}

ion-icon{
    color: $contrast;
    font-weight: bold;
}

ion-icon:hover{
    color: $secondary;
}

span{
    color: $dark-gray;
}