<ion-header class="ion-hide-sm-up mobile-header" [translucent]="true">
  <ion-toolbar class="mobile-header-inner">
    <ion-title class="ion-text-center"> Gallerie </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-hide-sm-up">
    <ion-toolbar class="mobile-header-inner">
      <ion-title class="ion-text-center" size="large">Gallerie</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="body">
    <div class="ion-hide-sm-down">
      <h2>Gallerie</h2>
    </div>
    <hr />
    <ion-grid>
      <ion-row>
        @for(file of files;track $index){
          <cmp-gallery-image [fileData]="file"></cmp-gallery-image>
        }
      </ion-row>
    </ion-grid>
  </div>

  @if(showPopup){
  <page-file-popup
    [file-data]="selectedFile"
    (hidePopup)="hidePopup()"
  ></page-file-popup>
  }
</ion-content>
