<ion-header class="ion-hide-sm-up mobile-header" [translucent]="true">
  <ion-toolbar class="mobile-header-inner">
    <ion-row>
      <button class="header-btn" (click)="loadFiles()"><ion-icon name="reload-outline"></ion-icon></button>
      <ion-title class="ion-text-center"> Galerie </ion-title>
      <button class="header-btn" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-hide-sm-up">
    <ion-toolbar class="mobile-header-inner">
      <ion-title class="ion-text-center" size="large">Galerie</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="body">
   <ion-row class="wide-header ion-hide-sm-down ion-justify-content-between">
      <div class="wide-title-box">
        <h2>Galerie</h2>
      </div>
      <div class="header-btn-container">
        <ion-fab vertical="top" horizontal="start" class="">
          <ion-fab-button class="wide-title-button">
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </ion-fab-button>

          <ion-fab-list side="bottom">
            <ion-fab-button (click)="logout()">
              <ion-icon name="camera-outline" size="large"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [routerLink]="['/tabs/upload']">
              <ion-icon name="push-outline" size="large"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        <button class="wide-title-button" (click)="loadFiles()"><ion-icon name="reload-outline" class="fs-4"></ion-icon></button>
        <button class="wide-title-button" (click)="logout()"><ion-icon name="log-out-outline" class="fs-4"></ion-icon></button>
      </div>
    </ion-row>
    <hr />
    <ion-grid>
      <ion-row>
        @for(file of files;track $index){
        <ion-col size="6" size-sm="6" size-md="3">
          <cmp-gallery-image
            (click)="callShowPopup(file)"
            [fileData]="file"
          ></cmp-gallery-image>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>

  @if(showPopup){
  <page-file-popup
    [file-data]="selectedFile"
    (hidePopup)="hidePopup()"
  ></page-file-popup>
  }
</ion-content>
