@import 'src/global.scss';



ion-list{
    position: absolute;
    top: 100%;
    left: 20%;
    max-height: 130px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: auto;
    background: $input-color;
    border-radius: 0 8px 8px 8px;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    z-index: 1;
}

ion-item-option{
    background: transparent;
    padding: 5px 0px;
}

ion-item-option:hover{
    background: $primary;
}

ion-searchbar{
    border: 2px $primary solid;
    --border: 2px $primary solid;
    padding: 0;
    --background: #8fa6a6ae;
    border-radius: 8px;
    --border-radius: 8px;
    backdrop-filter: blur(10px);
    --box-shadow: none;
    -webkit-backdrop-filter: blur(10px);
}

.pos-relative{
   position: relative;
}