<ion-header class="ion-hide-sm-up mobile-header" [translucent]="false">
  <ion-toolbar class="mobile-header-inner">
    <ion-row>
      <ion-title class="ion-text-center"> Hochladen </ion-title>
      <button class="header-btn" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="wide-header ion-hide-sm-down ion-justify-content-between">
    <div class="wide-title-box">
      <h2>Hochladen</h2>
    </div>
    <div class="header-btn-container">
      <button class="wide-title-button" (click)="logout()">
        <ion-icon name="log-out-outline" class="fs-4"></ion-icon>
      </button>
    </div>
  </ion-row>

  <div class="secondary-content">
    <div class="ion-justify-content-center tinted-bg">
      <ion-item class="filePicker-container ion-no-padding">
        <label
          class="file-input ion-text-center ion-align-content-center"
          for="filePicker"
        >
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </label>
        <input
          id="filePicker"
          class="ion-display-none"
          type="file"
          (change)="onFileSelected($event)"
        />
      </ion-item>
    </div>
    <div class="tinted-bg">
      <ion-label><b>Name:</b></ion-label> {{ fileName || 'Keine Datei ausgewählt' }}
    </div>

    <div class="tinted-bg">
      <ion-label><b>Speicherort:</b> </ion-label>
      <select [(ngModel)]="uploadType">
        <option value="gallery">Gallery</option>
        <option value="shared">Geteilte</option>
        <option value="files">Private</option>
      </select>
      <!--Speicherorte-->
      @if (uploadType === 'shared' || uploadType === 'files') {
      <ion-input
        label="Sub-Pfad: "
        [(ngModel)]="path"
        placeholder="/my-folder/"
        class="animate-fade-in text-input"
      >
      </ion-input>
      }
    </div>

    <div class="tinted-bg elevate">
      <ion-label><b>Tags:</b></ion-label>
      <div class="ion-flex-row tag-area">
        @for (tag of tags; track $index) {
        <cmp-tag-input-label
          [tag]="tag"
          (triggerRemove)="removeTag(tags.indexOf(tag))"
        ></cmp-tag-input-label>
        }
      </div>


      <div class="search-container tinted-bg">
        <ion-input
        label="Tag suchen oder erstellen:"
        [(ngModel)]="newTag"
        (ionInput)="onSearchInput($event)"
        (keyup.enter)="addTag()"
        placeholder="z.B. Urlaub"
        class="animate-fade-in text-input"
      >
      </ion-input>
        @if (suggestedTags$ | async; as suggestions) { @if (suggestions.length >
        0) {
        <ion-list class="floating-suggestion-list">
          @for (s of suggestions; track s) {
          <ion-item class="list-option" button (click)="selectTag(s)">
            {{ s }}
          </ion-item>
          }
        </ion-list>
        } }
      </div>
    </div>

    <ion-button (click)="submitUpload()" [disabled]="!selectedFile">
      Jetzt hochladen
    </ion-button>
  </div>

  <ion-alert
    [isOpen]="isPathAlertOpen"
    header="Kein Pfad gesetzt."
    message="Bitte gebe einen Pfad ein, wenn du diese Datei teilen möchtest."
    [buttons]="alertButtons"
    (didDismiss)="setPathAlertOpen(false)"
  ></ion-alert>

  <ion-alert
    [isOpen]="isFileAlertOpen"
    header="Kein Datei gewählt."
    message="Bitte wähle eine Datei zum Upload aus."
    [buttons]="alertButtons"
    (didDismiss)="setFileAlertOpen(false)"
  ></ion-alert>

  <ion-alert
    [isOpen]="successUpload"
    header="Upload erfolgreich"
    message="Der Upload der Datei war erfolgreich"
    [buttons]="alertButtons"
    (didDismiss)="setSuccessUpload(false)"
  ></ion-alert>
</ion-content>
