<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datei hochladen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datei hochladen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="secondary-content">
    <div>
      <div class="file-input">

      </div>
      <input type="file" (change)="onFileSelected($event)">
    </div>
    <div>
      <ion-label>Name:</ion-label> {{ fileName || 'Keine Datei ausgewählt' }}
    </div>

    <div>
      <ion-label>Speicherort: </ion-label>
      <select [(ngModel)]="uploadType">
        <option value="gallery">Gallery</option>
        <option value="shared">Geteilte</option>
        <option value="files">Private</option>
      </select>
      <!--Speicherorte-->
      @if (uploadType === 'shared' || uploadType === 'files') {
        <ion-input label="Pfad: " [(ngModel)]="path" placeholder="/my-folder/" class="animate-fade-in">
    </ion-input>
      }
    </div>
    <div>
      <ion-label>Tags:</ion-label>
      <div class="tag-display">
        <ion-grid>
          <ion-row>
            @for (tag of tags; track tag; let i = $index) {
            <ion-col size="auto" class="tag-col">
              <ion-chip>
                <ion-label>{{ tag }}</ion-label>
                <ion-icon name="close-sharp" (click)="removeTag(i)"></ion-icon>
              </ion-chip>
            </ion-col>
          }
          </ion-row>
        </ion-grid>
      </div>

      <div class="search-container">
        <ion-input 
          label="Tag suchen oder erstellen: " 
          labelPlacement="floating"
          [(ngModel)]="newTag" 
          (ionInput)="onSearchInput($event)"
          (keyup.enter)="addTag()"
          placeholder="z.B. Urlaub">
        </ion-input>
        @if (suggestedTags$ | async; as suggestions) {
          @if (suggestions.length > 0) {
            <ion-list class="floating-suggestion-list">
              @for (s of suggestions; track s) {
                <ion-item button (click)="selectTag(s)">
                  <ion-label>{{ s }}</ion-label>
                </ion-item>
              }
            </ion-list>
          }
        }
      </div>
    </div>

    <ion-button (click)="submitUpload()" 
      [disabled]="!selectedFile">
      Jetzt hochladen
    </ion-button>
  </div>

  <ion-alert
    [isOpen]="isPathAlertOpen"
    header="Kein Pfad gesetzt."
    message="Bitte gebe einen Pfad ein, wenn du diese Datei teilen möchtest."
    [buttons]="alertButtons"
    (didDismiss)="setPathAlertOpen(false)"
  ></ion-alert>

  <ion-alert
    [isOpen]="isFileAlertOpen"
    header="Kein Datei gewählt."
    message="Bitte wähle eine Datei zum Upload aus."
    [buttons]="alertButtons"
    (didDismiss)="setFileAlertOpen(false)"
  ></ion-alert>
</ion-content>
