/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';


//import Font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$dark-gray: #2d2d2d;
$gray: #727272;
$light-gray: #c3c3c3;
$primary: #ebf21b;
$primary-dark: #F2E307;
$secondary: #c1c1c1;
$tinted-gray: #8FA6A6;
$contrast: #3084F2;

:root {
    --ion-color-primary: $primary;
    --ion-color-primary-rgb: 235, 242, 27;
    --ion-color-primary-contrast: #0D0D0D;
    --ion-color-primary-contrast-rgb: 13, 13, 13;
    --ion-color-primary-shade: $primary-dark;
    --ion-color-primary-tint: #eae16f;

    --ion-color-secondary: $secondary;
    --ion-color-secondary-rgb: 193, 193, 193;
    --ion-color-secondary-contrast: #ca8b1d;
    --ion-color-secondary-contrast-rgb: 202, 139, 29;
    --ion-color-secondary-shade: #7f7f7f;
    --ion-color-secondary-tint: #e8e8e8;

    --ion-background-color: radial-gradient(circle, #e6e6cf 0%, #abc1bf 94%);
    --ion-background-color-rgb: 193, 193, 193;
    --ion-background-color-contrast: #f2e307;
    --ion-background-color-contrast-rgb: 242, 227, 7;
    --ion-background-color-shade: #738080;
    --ion-background-color-tint: #abc1bf;
    --ion-background-color-lightest: #f9ffff;

    //fonts
    --ion-default-font: 'Outfit', sans-serif;
    --ion-font-family: 'Outfit', sans-serif;
    --ion-dynamic-font: var(--ion-default-font);
}


* {
    font-family: var(--ion-font-family) !important;
}

body,
ion-app {
    background: #E6E6CF;
    background: radial-gradient(circle, #e6e6cf 0%, #abc1bf 94%);
}

ion-item.input {
    padding: 2px;
    margin: 5px 5%;
    box-shadow: 0px 0px 7px var(--ion-background-color);
    border-radius: 10px;
    color: var(--ion-color-primary-contrast);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(218, 229, 231, 0.20);
    --background: rgba(218, 229, 231, 0.20);
}

cmp-tag-input-label {
    display: inline-flex;
    max-width: fit-content;
}

.tag-area {
    display: grid;
    border-radius: 8px;
    background-color: $tinted-gray;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ms-1 {
    margin-left: 10px;
}

.fs-4 {
    font-size: 24px;
}

.w-100 {
    width: 100%;
}

.text-dark {
    color: $dark-gray;
    --color: $dark-gray;
}

.center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}


.popup-container {
    background: #40404032;
    backdrop-filter: blur(3px);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.file-container {
    padding: 2%;
}

.mobile-header {
    width: 90%;
    margin: 0px auto;
    border-radius: 0 0 20px 20px;
    background: #ffffff7c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 400;

    ion-title {
        --color: $000;
    }
}

.mobile-header-inner {
    background: transparent !important;
    --background: transparent !important;
}




.tag {
    display: inline-flex;
    margin: 5px;
    background-color: $primary;
    border-radius: 12px;
    padding: 4px 5px;
    color: $dark-gray;
}

.header-btn {
    background: none;
    color: #566873;
    font-size: 36px;
    margin-left: 15px;
    margin-right: 15px;
}

.header-btn:hover {
    color: $primary-dark;
}

.wide-header {
    margin: 30px 2% 0px 2%;
}

.wide-title-box {
    display: block;
    max-width: fit-content;
    padding: 12px 15px;
    /* From https://css.glass */
    background: #ffffff6e;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid #ffffff47;
    border-radius: 20px;

    max-width: 230px;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.wide-title-button {
    padding: 12px 15px;
    /* From https://css.glass */
    background: #7f7f7f6e;
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid #ffffff47;
    border-radius: 20px;
    margin-right: 5px;
    transition: 0.25s ease;
    z-index: 999;
}

ion-fab-button.wide-title-button {
    --background: none;
    --box-shadow: none;
    --padding: 0;
    --color: white;
    --background-hover: transparent;
}

.wide-title-button:hover {
    background: #ebf21b54;
    border-radius: 8px;
    margin-right: 6px;
    margin-left: 1px;
    --background: none !important;
    --box-shadow: none !important;
    --padding: 0;
}

.mobile-header-inner {
    pointer-events: none;
    /* Re-enable clicks for the actual buttons */
}

.header-btn-container {
    position: relative;
    display: flex;
    height: fit-content;
}

.header-btn-container ion-fab {
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
}