<ion-header class="ion-hide-sm-up mobile-header" [translucent]="true">
  <ion-toolbar class="mobile-header-inner">
    <ion-row>
      <button class="header-btn" (click)="loadFiles()"><ion-icon name="reload-outline"></ion-icon></button>
      <ion-title class="ion-text-center"> Dateisuche </ion-title>
      <button class="header-btn" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-hide-sm-up mobile-header">
    <ion-toolbar class="mobile-header-inner">
      <ion-title class="ion-text-center" size="large">Geteilte Dateien</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar placeholder="Tag"></ion-searchbar>

  <!--placeholder-->
<ion-list>
  @for(file of files$ | async; track file)
  {
    <ion-item>
      <ion-label>
        <h2>{{file.filename}}</h2>
        <div class="tags">
          @for (tag of file.tags; track tag) {
          <ion-chip color="primary" outline="true">
              <ion-label>{{tag}}</ion-label>
            </ion-chip>
          }
        </div>
      </ion-label>

      <ion-button slot="end" fill="clear" color="medium">
        mehr
      </ion-button>

    </ion-item>
  }
</ion-list>

<!--//export interface FileListDTO{
    filename: string,
    filepath: string,
    isFolder: boolean,
    tags: string[]
}//-->
  <!--
  <ion-list>
  @for (result of results; track result) {
  <ion-item>
    <ion-label>{{ result }}</ion-label>
  </ion-item>
  }
</ion-list>
  -->
</ion-content>
