<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Private Dateien
    </ion-title>
  </ion-toolbar>
</!--ion-header-->

<ion-content [fullscreen]="true">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Private Dateien</ion-title>
    </ion-toolbar>
  </!--ion-header-->
  <app-explore-container name="Private Dateien"> </app-explore-container>

  <div class="body">
    <div class="file-container">
      @for(file of files; track $index){
      <cmp-file-list-item [file-data]="file" (itemClicked)="listItemSelected($event)"></cmp-file-list-item>
      }
    </div>
  </div>
</ion-content>
